<h1><%= @customer.name %></h1>

<%= @vip %>

<p> This customer prefers: </p>
<% @likes.each do |like| %>
  <li>
    <%= like.ingredient.name %>
  </li>
<% end %>

<p> This customer does not enjoy </p>
<% @dislikes.each do |dislike| %>
  <li>
    <%= dislike.ingredient.name %>
  </li>
<% end %>

<%= form_for [@customer, @preference] do |f| %>
  <div class="field">
    <%= f.label :ingredient, "Ingredients" %>
    <%= f.collection_select(:ingredient_id, @ingredient_options, :id, :name)%>
  </div>
  <div class="field">
    <%= f.collection_radio_buttons :likes, [[true, "Enjoyed"], [false, "did not like"]], :first, :last %>
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Submit" />
  </div>
<% end %>
