<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>


  <body>
    <div>
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <%= content_tag :div, msg, :class => "flash_#{name}" %>
        <% end %>
      <% end %>
    </div>

    <div class="container">

      <div class="small-12 columns">

        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <h1><a href="#">Menu-ize</a></h1>
            </li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <!-- <li class="active"><a href="#">Right Button Active</a></li> -->
              <li class="has-dropdown">
                <a href="#">Jump To:</a>
                <ul class="dropdown">
                  <li><a href="/customers">Customers</a></li>
                  <li><a href="/ingredients">Ingredients</a></li>
                </ul>
              </li>
            </ul>
            </section>
        </nav>

        <div class="small-10 columns small-centered">
          <%= yield %>
        </div>
        <%= javascript_include_tag "application" %>

      </div>
    </div>
  </body>
</html>
